/*
 * @Author: Chenyichen12 sama1538@outlook.com
 * @Date: 2024-03-06 22:04:35
 */
:root,
body,
#app {
    height: 100%;
    width: 100%;
    position: fixed;
    padding: 0;
    margin: 0;
    user-select: none;
}