/*
 * @Author: Chenyichen12 sama1538@outlook.com
 * @Date: 2024-03-06 22:04:35
 */
.el-dropdown {
  font-size: small;
  align-self: center;
  height: 100%;
  padding: 0 5px;

  &:hover {
    background-color: var(--el-color-primary-light-5);
  }

  &:active {
    background-color: var(--el-color-primary);
  }

  span {
    margin: auto 0;
  }
}

label {
  font-size: small;
}